.popup__input-error {
  z-index: 10;
  /* position: absolute;
  left: 0;
  bottom: -10px; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  padding-top: 5px;
  visibility: hidden;
}