.profile__add-button {
  padding: 0 0;
  margin: 0 0;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-image: url("../../../images/Add_button.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #000;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  align-self: center;
  justify-self: end;
}

@media (max-width: 899px) {
  .profile__add-button {
    position: static;
    width: 100%;
    align-self: flex-end;
    background-image: url("../../../images/Add_button_mobile.svg");
    margin-top: 36px;
  }
}

.profile__add-button:hover {
  opacity: .6;
  transition: .5s;
}