.profile__profile-info_name {
  margin: 0 0;
  padding: 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

@media (max-width: 899px) {
  .profile__profile-info_name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 100%;
    margin-left: 28px;
  }
}